<div class="sc-tile-default">
    <div style="min-height: 98px;">
        <img data-bind="attr:{src:Path}"/>
    </div>

    <div class="sc-iconList-item-title">
        <span data-bind="text: Name"></span>
    </div>
</div>