<div class="sc-tile-default" data-bind="attr: {id: Id}">
    <div style="min-height: 98px;">
        <img width="112" data-bind="attr: {src: Path}" />
    </div>

    <div class="sc-iconList-item-title">
        <span data-bind="text: Name"></span>
    </div>
</div>