<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="WallpaperController">MikeRobbins.WallpaperManager.Controllers.WallpaperController, MikeRobbins.WallpaperManager</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
    <processors>
      <uiUpload>
        <processor mode="on" patch:after="*[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']" type="MikeRobbins.WallpaperManager.Pipelines.UiUpload.ResizeWallpaper, MikeRobbins.WallpaperManager" />
      </uiUpload>
    </processors>

    <settings>
      <setting name="WallpaperManager.MaxHeight" value="500" />
      <setting name="WallpaperManager.MaxWidth" value="1000" />
    </settings>
  </sitecore>
</configuration>